* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
body{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.menu-bar{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}
.menu-bar *{
    padding-left: 30px;
    padding-bottom:5px;
    padding-top:10px;
    padding-right: 10px;
}
.menu-bar a{
    text-decoration: none;
    color: white;
}
.menu-bar a:hover{
    background-color: aquamarine;
}
.main h1{
    text-align: center;
    padding: 150px;
}
.choice, .other{
    text-align: center;
}
.choice *, .other *{
    margin: 30px;
    font-size: 30px;
    background-color: red;
}